* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
    background-color: #dadada9c;
}

section {
    scroll-margin-top: 5rem;

    @media(max-width: 900px) {
        scroll-margin-top: 8rem;
    }

}


header {
    padding: 0.2rem;
    display: flex;
    justify-content: space-between;
    background-color: rgba(0, 0, 0, 0.965);
    align-items: center;
    position: fixed;
    width: 100%;
    z-index: 2;

    top: 0;
    left: 0;

    @media(max-width:900px) {
        flex-direction: column;
    }

    img {
        height: 4.5rem;
        margin-left: 1rem;
    }
}

nav {
    font-size: 1.2rem;
    align-items: center;
    justify-content: space-evenly;
    gap: 30px;
    color: white;
    display: flex;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

    a {
        color: white;
        text-decoration: none;
        padding: 2rem;

        @media(max-width:700px) {
            padding: 2rem 0.5rem;
        }

        &:hover {
            text-decoration: underline;

        }
    }
}

.foto {
    background-image: url(fotos/pcc.jpg);
    width: 100%;
    height: 700px;
    object-fit: cover;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    margin-top: 5rem;
    position: relative;

    @media(max-width: 890px) {
        height: 500px;
    }
}

.texto {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: white;
    background-color: rgba(0, 0, 0, 0.766);
    width: 60rem;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    left: 20%;
    bottom: 1rem;
    padding: 1rem;
    border-radius: 10px;
    transition: transform 0.3s ease;

    h4 {
        font-size: 1.6rem;

        @media(max-width: 1250px) {
            font-size: 1.5rem;
        }

        @media(max-width: 950px) {
            font-size: 1.4rem;
        }
    }

    p {
        font-size: 1.2rem;

        @media(max-width: 1250px) {
            font-size: 1.1rem;
        }

        @media(max-width: 950px) {
            font-size: 1rem;
        }
    }

    &:hover {
        transform: scale(1.03);
        box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.57);
        transition: transform 0.2s ease;
    }

    @media(max-width: 1400px) {
        width: auto;
        left: 0;
        margin: 2rem;
    }
}

.mem {
    font-size: 2rem;
    padding: 3rem;
    color: rgb(0, 0, 0);
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.membros1,
.membros2 {
    display: grid;
    gap: 2rem;
    margin: 0 auto;
    justify-items: center;
}


.membros1 {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 4rem;
    max-width: 1400px;
    margin: 0 auto;
    justify-items: center;

    @media(max-width: 1450px) {
        grid-template-columns: repeat(3, 1fr);
        gap: 2rem;

    }

    @media(max-width: 1000px) {
        grid-template-columns: 1fr 1fr;
    }

    @media(max-width: 700px) {
        grid-template-columns: 1fr;
    }
}

.membro {
    width: cover;
    max-width: 300px;
    background: #111;
    border: 1px solid #444;
    border-radius: 12px;
    padding: 1.8rem;
    text-align: center;
    color: #eee;
    flex-direction: column;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

    &:hover {
        transform: translateY(-5px);
        box-shadow: 0px 6px 15px rgba(255, 255, 255, 0.15);
    }

    img {
        width: 250px;
        height: 300px;
        object-fit: cover;
        border-radius: 10px;
        filter: grayscale(100%);
        transition: filter 0.3s ease, transform 0.3s ease;
        margin-left: -5px;
    }


    &:hover img {
        filter: grayscale(0%);
        transform: scale(1.03);
    }

    h2 {
        margin-top: 1rem;
        font-size: 1.4rem;
        font-weight: bold;
        color: #fff;
    }

    h4 {
        font-size: 1rem;
        font-style: italic;
        color: #bbb;
        margin-bottom: 0.8rem;
    }

    p {
        font-size: 0.95rem;
        line-height: 1.4;
        color: #ddd;

    }
}


.tempos {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 0.8rem;
    max-width: 1400px;
    margin: 0 auto;
    justify-items: center;
    align-items: center;

    @media (max-width:1400px) {
        width: 100%;
        padding: 24px;
    }

    @media (max-width:1050px) {
        grid-template-columns: repeat(3, 1fr);
    }

    @media (max-width:850px) {
        grid-template-columns: repeat(2, 1fr);
    }

}


.História {
    align-items: center;
    align-content: center;
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    background-color: rgb(1, 0, 45);

}

.tempo {
    background-color: rgba(197, 196, 196, 0.462);
    border-left: solid black 0.2rem;
    width: 100%;
    min-height: 9rem;
    text-align: left;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

    h3 {
        font-size: 20px;
        padding: 0.5rem;
        margin-top: 1rem;
    }

    p {
        color: rgb(0, 0, 0);
        padding: 0.5rem;
        font-size: 14px;
        margin-bottom: 1rem;
    }

    &:hover {
        transform: scale(1.02);
        box-shadow: 0px 4px 10px rgba(255, 255, 255, 0.15);
        transition: transform 0.2s ease;
    }
}

.Albuns {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    background-color: #000;
    padding: 2rem;
}

.album {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1.5rem;
    max-width: 1300px;
    padding: 24px;
    margin: 0 auto;
    align-items: center;

    @media(max-width: 1050px) {
        grid-template-columns: 1fr;
        gap: 1rem;
        padding: 12px;
        width: 90%;
    }


}

.all {
    display: flex;
    gap: 1.2rem;
    padding: 1rem;
    background: #111;
    border: 1px solid #444;
    border-radius: 8px;
    transition: transform 0.2s ease, box-shadow 0.2s ease;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    align-items: center;

    img {
        width: 140px;
        height: 140px;
        object-fit: cover;
        border-radius: 6px;
    }

    h2 {
        color: #fff;
        font-size: 1.2rem;
        margin-bottom: 0.4rem;

        @media(max-width: 660px) {
            font-size: 1rem;
        }
    }

    h3 {
        color: #ccc;
        font-size: 0.9rem;
        margin-bottom: 0.6rem;
        font-style: italic;
    }

    ul {
        list-style: none;
        padding: 0;
        margin: 0;
    }

    li {
        position: relative;
        padding-left: 1.5rem;
        margin-bottom: 0.4rem;
        color: #eee;
        font-size: 0.95rem;

        @media(max-width: 660px) {
            font-size: 0.75rem;
        }
    }

    li::before {
        content: "★";
        position: absolute;
        left: 0;
        color: #fff;
        font-size: 0.9rem;
    }

    &:hover {
        transform: scale(1.02);
        box-shadow: 0px 4px 10px rgba(255, 255, 255, 0.15);
    }

}

.text {
    display: flex;
    flex-direction: column;
}

footer {
    width: 100%;
    height: 6rem;
    background-color: #000000;
    margin-top: 2rem;
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 1rem;
    text-align: center;
    display: flex;
    flex-direction: column;
    padding: 1rem;
    gap: 8px;

    @media (max-width: 550px) {
        height: 8rem;
    }

    a {
        color: white;
        text-decoration: none;
        padding: 5px;
    }

    .insta {
        &:hover {
            color: rgb(230, 0, 149);
        }
    }

    .spot {
        &:hover {
            color: rgb(26, 153, 0);
        }
    }

    .tw {
        &:hover {
            color: rgb(0, 142, 230);
        }
    }

    .you {
        &:hover {
            color: rgb(201, 2, 2);
        }
    }
}