* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}


header {
    padding: 0.2rem;
    display: flex;
    justify-content: space-between;
    background-color: rgb(0, 0, 0);
    align-items: center;

    img {
        height: 4.5rem;
        margin-left: 1rem;
    }
}

nav {
    font-size: 1.2rem;
    align-items: center;
    justify-content: space-evenly;
    gap: 30px;
    color: white;
    display: flex;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;

    a {
        color: white;
        text-decoration: none;
        padding: 2rem;
    }

}

.foto {
    background-image: url(fotos/pcc.jpg);
    width: 100%;
    height: 700px;
    object-fit: cover;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.texto {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: white;
    background-color: rgba(0, 0, 0, 0.766);
    width: 60rem;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    padding: 1rem;
    border-radius: 10px;

    h4 {
        font-size: 1.6rem;
    }

    p {
        font-size: 1.2rem;
    }
}

.mem {
    font-size: 2rem;
    padding: 3rem;
    color: rgb(0, 0, 0);
    text-align: center;
}

.membros {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 4rem;
    max-width: 1400px;
    margin: 0 auto;
    justify-items: center;
}


.membros1 {
    align-items: center;
    align-content: center;
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    background-color: rgb(0, 0, 0);
}

.membro {
    width: 100%;
    text-align: center;
    img {
        width: 300px;
        height: 350px;
        object-fit: cover;
    }

    h2 {
        color: rgb(0, 0, 0);
        font-size: 25px;
        padding: 2px;
    }

    h4 {
        color: rgb(0, 0, 0);
        font-size: 18px;
        margin-bottom: 4px;
    }

    p {
        color: rgb(0, 0, 0);
    }
}

.tempos {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 0.8rem;
    max-width: 1400px;
    margin: 0 auto;
    justify-items: center;
    align-items: center;
}


.História {
    align-items: center;
    align-content: center;
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    background-color: rgb(1, 0, 45);

}

.tempo {
    background-color: rgba(221, 221, 221, 0.462);
    border-left: solid black 0.2rem;
    width: 21.6rem;
    min-height: 9rem;
    text-align: left;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;

    h3 {
        font-size: 20px;
        padding: 0.5rem;
        margin-top: 1rem;
    }

    p {
        color: rgb(0, 0, 0);
        padding: 0.5rem;
        font-size: 16px;
        margin-bottom: 1rem;
    }
}

.album {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 0.8rem;
    max-width: 1400px;
    margin: 0 auto;
    justify-items: center;
    align-items: center;
}


.Albuns {
    align-items: center;
    align-content: center;
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    background-color: rgb(1, 0, 45);

}
.all {
    width: 100%;
    text-align: left;
    img {
        width: 150px;
        height: 150px;
        object-fit: cover;
    }

    h2 {
        color: rgb(0, 0, 0);
        font-size: 25px;
        padding: 2px;
    }

    h4 {
        color: rgb(0, 0, 0);
        font-size: 18px;
        margin-bottom: 4px;
    }

    p {
        color: rgb(0, 0, 0);
    }
}